.login,
.room,
.signup {
  composes: grid from global;

  input {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: hsl(var(--bgc-input));
  }

  > * {
    margin-top: 1em;
  }

  .error {
    color: red;
  }
}
