.header {
  composes: flex from global;
  align-items: center;
  padding: var(--padding-container);
  background-color: hsl(var(--bgc-nav));

  > :last-child {
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
}
